<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Components - Header</title>
  <link rel="stylesheet" href="../css/normalize.css" />
  <link rel="stylesheet" href="../css/font.css" />
  <link rel="stylesheet" href="../css/typography.css" />
  <link rel="stylesheet" href="../css/center-content.css" />
  <link rel="stylesheet" href="../css/card-services.css" />

</head>

<body style="background-color: #f7f7fa">
  <div class="component-container">
    <div id="card-services" class="container">
      <div class="card-inner-container">

        <div class="icon">

          <svg class="circle" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="30px" height="30px">
            <path fill-rule="evenodd" fill="rgb(241, 240, 251)"
              d="M14.999,29.999 C6.704,29.999 0.0,23.294 0.0,14.999 C0.0,6.704 6.704,0.0 14.999,0.0 C23.294,0.0 29.999,6.704 29.999,14.999 C29.999,23.294 23.294,29.999 14.999,29.999 Z" />
          </svg>

          <svg class="pentagon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="35px" height="34px">
            <path fill-rule="evenodd" stroke="rgb(94, 59, 238)" stroke-width="2px" stroke-linecap="round" stroke-linejoin="miter"
              fill="none"
              d="M15.124,3.499 C15.657,3.73 16.318,2.841 16.999,2.841 C17.681,2.841 18.342,3.73 18.874,3.499 L30.319,12.654 C30.810,13.46 31.164,13.582 31.334,14.186 C31.503,14.791 31.479,15.433 31.264,16.23 L26.718,28.524 C26.508,29.103 26.124,29.603 25.620,29.956 C25.115,30.310 24.514,30.500 23.898,30.499 L10.101,30.499 C9.485,30.500 8.884,30.310 8.379,29.956 C7.875,29.603 7.491,29.103 7.281,28.524 L2.736,16.23 C2.521,15.433 2.497,14.791 2.666,14.186 C2.836,13.582 3.191,13.46 3.681,12.654 L15.124,3.499 Z" />
          </svg>
              
        </div>
        
        <div class="heading">
          UI/UX Design
        </div>

        <div class="description">
          lorem ipsum dolor sit amet consectur adi pising leo
        </div>

      </div>
    </div>
  </div>
</body>

</html>