@font-face {
    font-family: "Poppin-Medium";
    src: url("../assets/fonts/Poppins-Medium.ttf") format("ttf");
  }

  @font-face {
    font-family: "Poppin-Regular";
    src: url("../assets/fonts/Poppins-Regular.ttf") format("ttf");
  }
  